[2019-01-09 16:53] maoberlehner opened #1 "Add CodeSandbox examples"

[2019-01-09 16:53] maoberlehner opened #2 "Add Nuxt.js module docu"

[2019-01-09 16:54] maoberlehner opened #3 "Add visibility hydration feature"

[2019-01-09 16:54] maoberlehner opened #4 "Add interaction hydration feature"

[2019-01-09 16:54] maoberlehner opened #5 "Add benchmarks"

[2019-01-09 16:58] maoberlehner opened #6 "Add docu for configuration options"

[2019-01-09 16:58] maoberlehner opened #7 "Add info about alpha / experimental status"

[2019-01-12 05:34] #3 closed

[2019-01-12 08:50] #4 closed

[2019-01-12 09:11] #2 closed

[2019-01-12 09:11] #7 closed

[2019-01-12 15:13] #5 closed

[2019-01-14 11:25] maoberlehner opened #8 "Cleanup all events when interaction event is fired"

[2019-01-15 20:09] bovas85 opened #9 "Question - Does the component that renders when visible load for SSR?"
Would the crawlers see that component when crawling the pages?

[2019-01-16 07:33] bovas85 commented on #9
So if you render serverside or static with nuxt it will simply render? When does it *not* load at all then?

[2019-01-18 18:46] andersnielsendk commented on #8
Great module, thanks a lot - it really, really helps on the estimated input latency!
Just to clarify if my problem here is covered by this issue?
When using vue-datepicker with loadOnInteraction the datepicker now isn't closing when a date is selected (which is the normal behaviour when not loaded through lazy-hydration)

[2019-01-19 13:10] maoberlehner opened #10 "Make intersection observer global"

[2019-01-19 19:00] #10 closed

[2019-01-19 19:00] #8 closed

[2019-01-19 19:01] #6 closed

[2019-01-20 05:35] maoberlehner opened #11 "On interaction default behaviour is bad for a11y"
Using TAB to navigate the page, leads to the component receiving focus being re-rendered which removes the focus.

[2019-01-20 06:25] maoberlehner opened #12 "Optimize auto hydration on re-render logic"
Currently, components are automatically hydrated if a re-render is triggered (because a property changes for example). There are two problems with this:

1. This might not be expected by people using this package?
2. It is not implemented very elegantly - in order to skip initial render, a timeout is used. But if a (manual) re-render is triggered before the timeout, nothing happens.

[2019-01-20 06:54] maoberlehner opened #13 "Properties are not reactive even after the component was hydrated"

[2019-01-20 07:14] #12 closed

[2019-01-20 07:14] #13 closed

[2019-01-25 15:01] mauxtin opened #14 "Unable to run dev after installing package - Nuxt.js"
First of all this seems like an amazing package!

I tried to test it on an existing project of mine which is built on Nuxt.js and facing some problems.

Steps
1. yarn add vue-lazy-hydration
2. Made the following changes:
[code]
3. yarn run dev

Outcome:
[code]

It stops at "clean exit".

[2019-01-25 16:07] maoberlehner commented on #14
Hey @mauxtin thank you for using this package!

Can you please provide additional informations about your setup and the error you're facing? Without further informations, or ideally a reduced test setup which makes it possible to reproduce the error, I don't know how I can help you.

[2019-01-25 23:17] mauxtin commented on #14
Hey @maoberlehner. I am attaching my package.json. It is basically a simple Nuxt.js app with an Express api. I tried to create a simple app based on this https://github.com/nuxt-community/express-template but it seems like the repo template is broken.

Let me know if I can help in any other way. I will retry to create a simple repo in the following days.

[code]

[2019-01-26 08:22] wagerfield opened #15 "The client-side rendered virtual DOM tree is not matching server-rendered content"
Firstly thank you for creating this package—it looks awesome!...however I have not been able to get it to work 😕

I'm using Nuxt in universal mode, have copied your example, but am getting the following error in the console:

[code]

I've tried configuring the `LazyHydration` component with `ssr-only`, `when-visible` and `when-idle` but get the same error.

I've created an example on Code Sandbox

[2019-01-26 08:38] maoberlehner commented on #15
Hey @wagerfield!

Thanks for reporting this issue! I found the problem: currently this plugin is naively only working with child components which render a `<div>` as there root element.

As a quick workaround you can either the `<header>` of your `header.vue` component in a `<div>` or you can write `<v-lazy ssr-only><div><v-header /></div></v-lazy>`.

I'll work on a fix and update this issue accor

[2019-01-26 08:44] maoberlehner commented on #14
I don't quite get it, does the template work if you remove `vue-lazy-hydration` or is it still broken?

[2019-01-26 08:53] #15 closed

[2019-01-26 10:09] wagerfield commented on #15
Amazing! Thanks so much for fixing that so quickly–works like a charm.

I'm well excited by this package, so please let me know if there's anything I can do to help get it out of beta 😄

[2019-01-27 18:09] maoberlehner commented on #14
I'd be happy to help you out but I can't make it a priority right now.
What I would do is to either start clean and add more and more of the things specific to your project until the same error occurs, or to do it the opposite way and remove layer after layer until the error disappears.

Please let me know if you can pinpoint the error. If it is a problem with this package I'll do my best to fix i

[2019-02-02 03:51] wintrykiddo opened #16 "add rootMargin config for IntersectionObserver to make possible hydration a bit before item enters viewport"
thanks so much for your comprehensive work.

https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver/rootMargin

for example if I were to set rootMargin to 20% the item would be hydrated 20% of viewport height before the item enters the viewport.

this can be useful to lazy load images a bit before they're supposed to be shown to reduce load flashes.

also, iOS safari's disappearing

[2019-02-04 17:04] #16 closed

[2019-02-14 10:05] mauxtin commented on #14
Not sure if something is fix on my end (maybe I removed a dependency or something) but I can confirm that trying beta 4 works as expected. 👍

[2019-02-14 11:16] mauxtin commented on #14
I was wrong. The problem persists. I found out that it only appears in compination with the nuxt-i18n module (at least to me).

I managed to reproduce the error here https://codesandbox.io/s/l7olnml72m

Steps:
1) yarn add vue-lazy-hydration nuxt-i18n
2) Include "nuxt-i18n" in nuxt.config.js modules array
3) Add Lazy Hydration
[code]

[2019-02-15 10:29] maoberlehner commented on #14
I'm sorry but I can't get your CodeSandbox up and running (no matter if I add or remove `vue-lazy-hydration`) I always get the error `Server resources not available`.

But I tested `nuxt-i18n` in combination with `vue-lazy-hydration` on my own machine and it seems to work find.

[code]

[code]

[code]

[2019-02-15 10:43] mauxtin commented on #14
Hi @maoberlehner,

In your code above, shouldn't
[code]
be
[code]
instead?

Also I downloaded the codesandbox and tried to run `yarn install && yarn run dev` and it actually demonstrates the problem by throwing an error. Simply removing the `import LazyHydrate from "vue-lazy-hydration";` builds successfully.

[2019-02-15 14:10] maoberlehner commented on #14
Oh, I thought using a dynamic import or a static import shouldn't matter. But in fact it is exactly the problem. Try to only use the dynamic import without `vue-lazy-hydrate` and you'll get the exact same problem:

[code]

This has nothing to do with `vue-lazy-hydration`, it is a known issue with `nuxt-i18n`. See: https://github.com/nuxt-community/nuxt-i18n/issues/134

You can use the `parsePages:

[2019-02-15 14:10] #14 closed

[2019-04-10 13:06] adrianoresende opened #17 "BUG: TypeError: Cannot set property 'asyncFactory' of undefined"
The component is loaded even when it was not visible

Code live: https://codesandbox.io/s/6yq314kkp3

![image](https://user-images.githubusercontent.com/798755/55880976-2e26ab00-5b78-11e9-981f-09f960ba4a52.png)

[code]

[2019-04-10 13:27] adrianoresende opened #18 "Component is loaded without scroll"
Why this code, the component `foo` is loaded without scroll?

[code]

Console:

![image](https://user-images.githubusercontent.com/798755/55882636-3fbd8200-5b7b-11e9-8cee-f2297dc30d3c.png)

[2019-04-10 16:38] maoberlehner commented on #17
Hello! Thank you for submitting a bug report. Please add a reproduction link on CodeSandbox or something similar. Thx!

Generally speaking, unfortunately, if you're using a system which uses the Vue template renderer in the background, components are loaded even though they are not visible (but they're still not hydrated / executed). There is a feature request open in the Vue.js repository which m

[2019-04-10 16:38] maoberlehner commented on #18
Hello! Thank you for submitting a bug report. Please add a reproduction link on CodeSandbox or something similar. Thx!

Generally speaking, unfortunately, if you're using a system which uses the Vue template renderer in the background, components are loaded even though they are not visible (but they're still not hydrated / executed). There is a feature request open in the Vue.js repository which m

[2019-04-10 17:13] adrianoresende commented on #17
@maoberlehner https://codesandbox.io/s/6yq314kkp3

[2019-04-10 17:28] maoberlehner commented on #17
Thank you for taking the time to create a CodeSandbox.

This package is not intended to be used with purely client side rendered applications: https://github.com/maoberlehner/vue-lazy-hydration#caveats-1
Please create a Nuxt.js or Gridsome (or similar) based CodeSandbox to replicate the error. Thx!

[2019-04-10 17:31] maoberlehner commented on #17
If you’re searching for a solution for client side rendered applications, you can read the following blog post of mine: https://markus.oberlehner.net/blog/lazy-load-vue-components-when-they-become-visible/

[2019-04-22 22:20] mauxtin opened #19 "Failed to execute 'observe' on 'IntersectionObserver': parameter 1 is not of type 'Element'."
Recently got two error messages on sentry. Both are from an Android 4.4.4 device on a Chrome browser (Chrome 73.0.3683)

Not sure if I can help in any way or if they are related (let me know if it's better to create a separate issue for the second one).
1)
[code]

2)
[code]

[2019-05-15 07:01] maoberlehner opened #20 "Improved integration in meta frameworks like Nuxt.js and Gridsome"
- work on https://github.com/vuejs/vue/issues/9847
- fix potential a11y issues https://github.com/maoberlehner/vue-lazy-hydration/issues/11
- improve performance by better integration in Vue.js and or the meta frameworks

[2019-05-15 09:47] maoberlehner commented on #19
Hey @mauxtin! Could you post a reproduction link via CodeSandbox? Thx!

[2019-05-15 10:14] maoberlehner commented on #18
Closing this because of inactivity and because it's most likely related to https://github.com/vuejs/vue/issues/9847

[2019-05-15 10:14] #18 closed

[2019-05-15 10:15] #17 closed

[2019-05-15 12:14] Al-Rozhkov opened #21 "Error: "regeneratorRuntime is not defined" with Import Wrappers"
First of all thank you for this project! Feels like must have for every vue based SSG. 👍

I tried vue-lazy-hydration with Gridsome. There is pretty large block of "static" markup without reactive data. Looks like perfect case for `ssr-only` property. It works perfectly with `<LazyHydrate ssr-only>` component, but when I tried [Import Wrappers](https://github.com/maoberlehner/vue-lazy-hydration#imp

[2019-05-15 13:14] maoberlehner commented on #21
Can you try to use relative imports instead of `~`? Eg. `import('../components/blocks/FrontHero.vue')`

[2019-05-15 15:07] Al-Rozhkov commented on #21
Nope, still no luck with relative imports.

I need more time to strip out unrelated stuff and provide CodeSandbox.

[2019-05-16 04:45] maoberlehner commented on #21
Maybe you can try to do a regular dynamic import `FrontHero: () => import('~/components/blocks/FrontHero.vue')` if that doesn't work either, the Babel config in use is nut suited for handling dynamic imports.

[2019-05-19 14:53] Al-Rozhkov commented on #21
Here is CodeSandbox: https://codesandbox.io/s/gridsomelazyhydration-3deeh

I'm really bad at Babel and Webpack yet. Any clue would be much appreciated.

[2019-05-19 22:20] rodrigocarlospires commented on #19
Same error to me (just error 1) on chrome Version 74.0.3729.157 (Official Build) (64-bit). Example (just code, not codesandbox):

[code]

[2019-05-20 04:29] maoberlehner commented on #19
Would be great to know more about your setup, especially how you do SSR (Nuxt.js, Gridsome, custom webpack config)? Thx!

[2019-05-20 04:38] maoberlehner commented on #19
Generally speaking, I know there can be problems in certain circumstances with using `v-if="hydrated"` in new versions of Vue.js (I'm working on it).

[2019-05-20 04:49] maoberlehner commented on #21
Thanks for the CodeSandbox link. Unfortunately it does not work for me.
Have you already tried using a dynamic import without this package: `FrontHero: () => import('~/components/blocks/FrontHero.vue')` Does this work?

[2019-05-20 09:37] Al-Rozhkov commented on #21
Yes, regular async component injection works:
[code]
Import Wrapper doesn't.

I also have [public repo](https://github.com/Al-Rozhkov/gridsome-lazy-hydration) for this example. It would be great if you could look at it. Thank you!

[2019-05-24 08:11] LuXDAmore commented on #21
I have the same problem, with Nuxt@2.7.1 and Vue@2.6.10

[2019-05-24 08:58] maoberlehner commented on #21
@LuXDAmore please provide a reproduction link. I just tested it: fresh install with latest version of `create-nuxt-app` and latest version of `vue-lazy-hydration` does work.

[2019-05-24 10:04] maoberlehner commented on #21
I found a solution to this. The problem has to do with Babel not including all polyfills by default. So a freshly installed Nuxt.js seems to have all necessary polyfills but Gridsome (and maybe Nuxt.js with customized Babel settings) does not.

I'll release a new version the next couple of days.

[2019-05-24 13:34] LuXDAmore commented on #21
Thank You @maoberlehner ,

I have this configuration in my project. [DOCS](https://nuxtjs.org/api/configuration-build/#presets)

Hope this helps.  😄

[2019-05-24 15:05] #21 closed

[2019-06-03 07:35] maoberlehner commented on #19
Additional info: it seems to have to do with the changes regarding scoped slots in Vue.js 2.6.0+
I'm working on it. For now you can simply remove `v-slot` and `v-if="hydrated"`.

[2019-06-06 22:46] kevinjcoleman opened #22 "Prerender issues"
I'm attempting to use this with [prerender](https://github.com/prerender/prerender) and I'm having siimilar issues to https://github.com/maoberlehner/vue-lazy-hydration/issues/15. Everything mostly works, but it's causing a full rerender of the page, rather than just hydrating of the given components. Am I doing anything immediately wrong here? Obviously it's tough to replicate this specific use c

[2019-06-09 06:59] maoberlehner commented on #22
Hey @kevinjcoleman thanks for taking the time to create this issue! Please also provide a CodeSandbox reproduction link so it easier for me to reproduce and fix this issue. Thanks!

[2019-06-23 11:06] bluelovers opened #24 "unknown error with `Cannot read property 'resolved' of undefined`"
https://github.com/bluelovers/test-nuxt-app/tree/test/vue-lazy-hydration

1. yarn run dev
2. go http://localhost:3000/_test/plugin/vue-lazy-hydration/2
3. click link `markdownit`
4. click link `vue-lazy-hydration/2`
5. bug happen

video
[bandicam 2019-06-23 19-02-11-922.zip](https://github.com/maoberlehner/vue-lazy-hydration/files/3317755/bandicam.2019-06-23.19-02-11-922.zip)

[2019-06-23 14:57] maoberlehner commented on #24
Thank you for taking the time to adding reproduction link and even Video 👍

I'll look into this the next couple of days!

[2019-06-23 15:22] maoberlehner commented on #24
As a quick workaround you can add a `key` on the div:

[code]

[code]

But I'm working on a bugfix!

[2019-09-04 02:10] fatlinesofcode opened #25 "Nested hydration"
I doesnt appear nested hydration works, is something like this possible?

[code]

then in MyHeader

[code]

The expected behaviour would be Header hydrate on-load when idle, header - navigation hydrates on interaction.

[2019-09-04 02:12] fatlinesofcode commented on #25
sorry wrong package ;P

[2019-09-04 02:12] #25 closed

[2019-09-04 12:37] mercs600 commented on #21
@maoberlehner I have to reopen this issue, because I would like to know how can I use with async component factory https://vuejs.org/v2/guide/components-dynamic-async.html#Handling-Loading-State ? Like @Al-Rozhkov wrote, the regular async component injection works, but with this wrapper not.

[2019-09-12 07:56] OfekA commented on #24
Having this issue as well, thanks for taking the time to work on it!

[2019-09-23 14:42] addyosmani commented on #20
Hey, @maoberlehner.  I'm happy to share Chrome is donating $2,000 to support vue-lazy-hydration's goals around improving support for meta-frameworks like Nuxt and fixing https://github.com/vuejs/vue/issues/9847  🎉  We think this project's goals align well with helping reduce the impact of hydration on user interactivity.

Great work so far! We hope this helps!

~ signed Addy, @stubbornella and @sp

[2019-09-23 15:00] OfekA commented on #20
@addyosmani This is amazing! Thank you!

[2019-09-29 00:22] aldarund opened #26 "feature: add typescript types"
for use in typescript projects :)

[2019-10-08 17:46] redLineColor opened #29 "Using dynamic components"
Hello,
It is possible to use with dynamic components?

I have this vue component (available on pages in nuxt folder structure):

and in template tag

_<templateTag>
  <div>
    <templateTag v-for="component in components">
      <LazyHydrate when-idle>
        <component :is="component .name"
                   :key="component.name"

      </LazyHydrate>
    </templateTag>
  </div>
</templateTag>_

[2019-10-08 18:38] #29 closed

[2019-10-10 13:48] maxxcs commented on #19
I had the same issue when I used with `<component :is="someComponent" />`

Example:
[code]

[2019-11-04 15:43] jeanphilippeds commented on #20
Hello @maoberlehner,

I just opened a pull request to fix this issue: https://github.com/vuejs/vue/pull/10794

Hope this helps :)

[2019-11-04 16:46] maoberlehner commented on #20
@jeanphilippeds this is amazing! I was already investigating how we can work with this in Nuxt.js and Gridsome, but unfortunately, I currently can't give this my full attention. All the more reason I appreciate your help!

[2019-11-04 17:02] jeanphilippeds commented on #20
I'm just worried about the fact that there was no Vue release since March, I'm wondering if we will have to wait for Vue 3 :/

[2019-11-08 15:18] jeanphilippeds commented on #20
@maoberlehner I forked `vue-server-renderer` and it's working great :)

[2019-11-25 09:58] jakupi1 opened #31 "Cannot read property '0' of undefined"
Hello just found this npm package and i wanted to test but unfortunately i cant use it from strange error that it comes from LazyHydrate.js:339:31
[code]
And it gives me error **Cannot read property '0' of undefined**  the error cames from here

[code]

[2019-11-25 17:36] avlima opened #32 "What is the role of ssr-only in hydration?"
I have a site that is all optimized for SEO, but I am trying to improve its performance without falling into Google rank. So I saw this `ssr-only` parameter, I would like to know what it actually does and if it will help me.

Thank you.

[2019-11-26 06:50] maoberlehner commented on #32
https://github.com/maoberlehner/vue-lazy-hydration#basic-example Point 2.

`never interactive` means that if you bind any click handlers or do anything which requires JavaScript to run for this component to work, this mode is not for you. With `ssr-only`, only the HTML is generated server-side and no client side JavaScript for this component is executed at all. This is useful for static content wi

[2019-11-29 09:44] taraskhvyl commented on #31
Try to change your code to:
`<LazyHydrate when-visible v-if="posts && !isLoading">
         <post-list :posts="posts" title="Recent Posts"></post-list>
       </LazyHydrate>`

[2019-12-27 11:17] #32 closed

[2019-12-27 11:38] maoberlehner commented on #24
After taking a closer look I think there is not much I can do about it.
It has something to do with the fact that Vue.js tries to reuse vdom nodes when possible.
I think using keys like in my second comment is a ok workaround.
If this is something happening to you when changing routes, you can use `$route.fullPath` as key like it is recommended here: https://slides.com/chrisvfritz/vueconf-workshop

[2019-12-27 11:38] #24 closed

[2019-12-27 11:39] maoberlehner commented on #22
Closing this because of inactivity.

[2019-12-27 11:39] #22 closed

[2019-12-27 12:54] #19 closed

[2019-12-27 12:54] #31 closed

[2020-01-20 18:50] brophdawg11 opened #34 "Classes/Attrs not proxied upon client side mount"
When an element is mounted client side, if it is not yet hydrated, this only renders a `div`, but when the `Lazyhydrate` element has a class applied to it, it will blow away any internal classes from the root slot element.

You can work around this at the moment by just never including classes or attributes on the `LazyHydrate` component, but that's a bit fragile since developers are quite used to

[2020-01-20 18:53] maoberlehner commented on #34
Thanks for your contribution. I'm really happy to hear that it helps improving the performance metrics of your project. Looking forward to the PR.

[2020-02-04 13:28] ramonmostert commented on #20
@jeanphilippeds Not really sure what you mean. Did you manage to get lazy-hydration to work with nuxt, I would like this too. Is there a way to work around waiting for the pull request to get merged?

[2020-02-11 13:09] sisou commented on #20
@jeanphilippeds Can we also use your forked `vue-server-renderer` to get lazy hydration in our Nuxt projects? Could you give a few instructions how to do so? Thank you! :+1:

[2020-02-13 15:49] fibigerg commented on #20
@jeanphilippeds It would be great to use your `vue-server-renderer` until the pull request is processed. I see your changes here https://github.com/jeanphilippeds/vue/commits/add-option-to-render-or-not-async-scripts Are these relevant?

[2020-02-13 17:55] nachogarcia opened #36 "Lazy hydrate long list [Question]"
Hello! In the examples doesn't show how or if the library works with a list.
I have a really long grid with cards and would love if I not only lazy load the images, but also lazy-hydrate the cards.

It's something like this
[code]
Since I read that every component of the same type would load at the same time, I'm trying with
[code]
But I'm not sure this library is suited for this problem. Any sugg

[2020-02-17 16:37] mfrascati commented on #19
I had the same issue, but the issue happened lazy loading a component having a v-if.

In my case I had the error on route leave, because in the beforeRouteLeave I was cleaning the object, making the v-if false, so on LazyHydrate self cleaning the object was not present. Easily fixed by wrapping my component in a div.

Maybe this solution can be helpful for somebody else!

[2020-03-05 15:16] jgimness opened #37 "ssr-only mode and optimizing Vuex INITIAL_STATE [Question]"
For ssr-only, like the "Article" in your example, is there any recommended way to avoid serializing the state from Vuex in INITIAL_STATE, since it will never be needed/hydrated client-side?

The Vue SSR guide requires Component's serverPrefetch (similar to Nuxt's asyncData) to store data in Vuex ( https://ssr.vuejs.org/guide/data.html ).

Great library BTW, I am pushing this to a high-traffic prod

[2020-03-06 14:58] maoberlehner commented on #37
Not that I'm aware of, unfortunately.

But Evan You hinted at SSR improvements for Vue 3 which will make this easier (and hopefully this package obsolete).

Thanks!

[2020-03-06 15:01] maoberlehner commented on #36
For long really long lists I'd recommend you to look at virtual scrolling https://github.com/Akryum/vue-virtual-scroller

But it can also help to use this library, yes.

[2020-03-06 16:21] simplenotezy opened #38 "Prevents my Image Slider from being initialized"
If I wrap <LazyHydrate when-visible> around my Siema slider, it is never initialized. The "mounted"-hook (where I init the slider) is fired on page load, perhaps because the slider is close to the top of the page, but it is not initialized.

If I run the method manually, to init the slider, then it works fine.

[2020-03-06 16:31] simplenotezy commented on #38
This did the trick:

	mounted () {
		this.$watch(
			() => {
				return this.$refs.hydrate.hydrated;
			},
			(val) => {
				this.$nextTick(() => {
					setTimeout(() => this.initSlider(), 100)
				});
			}
		)
	},

[2020-03-06 16:31] simplenotezy commented on #38
Not sure if there is an event you can listen to, when it has been "hydrated". Would be helpful, instead of a watcher.

[2020-03-06 16:37] simplenotezy opened #39 "Using `ssr-only` preven't the element from appearing"
If I use  `<LazyHydrate srr-only>` around some static component, it is never shown. I tried changing it to `when-visible` and that works fine. Also I  am not quite sure of the difference between the two, despiste having read the documentation and tutorial. Isn't `when-visible` better?

[2020-03-08 06:51] maoberlehner commented on #39
What does your SSR process look like? If for some reason `typeof window !== 'undefined'` in your SSR environment, the component does not render.

From the [Basic example](https://github.com/maoberlehner/vue-lazy-hydration#basic-example):

`ssr-only` -> the component never gets hydrated on the client.
`when-visible` -> the component gets hydrated when visible.

[2020-03-08 06:59] maoberlehner commented on #38
Please provide a [reduced test case](https://css-tricks.com/reduced-test-cases/).

[2020-03-08 15:45] simplenotezy commented on #38
I tried to, but the codesandbox: https://codesandbox.io/s/fervent-cache-hr8m2 fails for some reason (without making any changes to the default setup), so I guess theres a bug in it atm.

Anyhow, I didn't do any unusual setup. Just used the default Siema setup as can be found in this fiddle: https://codepen.io/pawelgrzybek/pen/qrEXbg

I call "new Siema" on mounted, and then thats when the bug happe

[2020-03-08 15:45] simplenotezy commented on #39
@maoberlehner Maoberlehner, I just tested in normal `yarn dev`. I don't have that typecheck on window in my SSR.

Thanks for the clarification in regards to the different options.

[2020-03-08 18:21] simplenotezy commented on #39
Can you do both? E.g.:

    <LazyHydrate ssr-only when-visible>

[2020-03-08 18:23] simplenotezy commented on #39
I had some `<client-only>` within `<LazyHydrate>` and that caused the block to never show up. I removed it, and then it worked. 😊

[2020-03-08 18:52] simplenotezy opened #40 "Using `on-interaction` first click is not registered"
When using `on-interaction` the first click is not registered, so only the second click works. Using mouseover could prevent this.

[2020-03-08 19:01] simplenotezy opened #41 "Nested LazyHydrate"
Currently it seems not possible to next <LazyHydrate>.

I have a scenario where it makes sense to LazyHydrate a component, but if the parent component is also lazy hydrated, it won't work properly. Either it should be possible to nest LazyHydrate or I could apply a setting like: `<LazyHydrate only-if="shouldHydrate">` where `shouldHydrate` is a boolean, I could define on the parent component, to w

[2020-03-08 22:07] simplenotezy opened #42 "Support for dynamic components"
Would be great if this package supported dynamic components. Currently it does not seem to work.

[2020-03-08 22:29] simplenotezy opened #43 "Support for i18n sites"
First of all; in general this plugin is top-notch. I really appreciate it, and I see it as an important plugin for any vue/nuxt project. It increased my pagespeed score 25 points on mobile with just a few lines of code. Thanks!

However, I noticed it doesn't work with nuxt-i18n, when switching locale. A full page refresh will do the trick though. I noticed perhaps this is because Nuxt is using vue

[2020-03-08 22:30] simplenotezy commented on #32
What's the difference between <LazyHydrate ssr-only> and <client-only>/<ssr-only>, which is native in Nuxt?

[2020-03-09 07:31] maoberlehner commented on #32
I don’t understand the question. Can you be more specific about what you mean. Thx.

[2020-03-09 07:38] maoberlehner commented on #43
2.6.11 is newer than 2.6.8 (11 > 8). So the Vue.js version in Nuxt.js is fine.

I guess it is because parts of your application are not hydrated so rerendering when switching the language does not rerender those components. That is something inherent to how this package works. If this is a show stopper you have to work around it in some way or don’t use this package.

[2020-03-09 07:42] maoberlehner commented on #42
1. If this is a feature request, please provide more details and a demo what you want to achieve.
2. I'm pretty sure that this works. If you think this also could be a bug, please provide an easy way to reproduce.

[2020-03-09 07:43] maoberlehner commented on #43
Please provide an easy way to reproduce the problem or otherwise I can't help you.

[2020-03-09 07:46] #1 closed

[2020-03-09 07:52] maoberlehner commented on #38
I'm sorry but I can't provide support for third party libraries. Especially if you can't take the time to create a GitHub repository with a **reduced test case** so I don't have to spend my time recreating the problem. There are millions of third party libraries out there which might or might not be compatible with this package. I'm not willing to invest my time giving support for free. So I'm clo

[2020-03-09 07:52] #38 closed

[2020-03-09 07:55] maoberlehner commented on #40
This is the expected behaviour. Because the component is not hydrated initially, the there is no click event listener registered on the component. Only after the the component is hydrated, it does listen for the click event.

If you need your component to listen for click events, you can't use `on-interaction`.

[2020-03-09 07:55] #40 closed

[2020-03-09 07:57] maoberlehner commented on #41
I don't think it is a good practice to nest `<LazyHydrate>`. But apart from that:
Please provide an easy way to reproduce the problem or otherwise I can't help you.

[2020-03-09 07:57] #39 closed

[2020-03-09 07:58] #37 closed

[2020-03-09 07:58] #36 closed

[2020-03-09 11:42] simplenotezy commented on #38
Hey - it's not a matter of not wanting to refuse to provide a reduced test-case, it's a matter of the codesandbox currently not wanting to build, using their untouched&unmodified sandbox template.
Also, I don't believe this is related to a third party library. It's directly related to this package - anyhow; I provided a clear working code fix as a work-around to fix the issue. Run the "init" a lit

[2020-03-09 11:44] simplenotezy commented on #43
Right, I don't know how I late-night could've missed that. I'll provide you with an example as soon as the codesandbox is working again.

[2020-03-09 11:49] simplenotezy commented on #43
Codesandbox is still not working, but you can see an example of what I mean by visiting here: https://v2.thejewelleryroom.com - I can give you access to the github repository if you'd like.

If you switch langauge, you'll see a blank page. If you refresh the page, it works. This didn't happen before implementing lazy-hydrate.

[2020-03-09 12:03] simplenotezy commented on #43
So I realized I had some issues in my code, so your package was not to blame. Not sure why it happened after installing lazy hydrate though. Anyhow, I managed to fix it, but still stumbled upon some issues.

When switching languages, the component is destroyed, then initialized again.  But the second time it is initialized, `this.$refs.hydrate.hydrated` still to still be set to true.

I had to add

[2020-03-09 12:15] simplenotezy commented on #42
I'll provide an example later. But I have compnents like this:

<component :is="someName">

And that wouldn't render

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-09 12:23] maoberlehner commented on #38
You can create a GitHub repo and provide the steps to build it and how to reproduce the problem, like @bluelovers did for example: https://github.com/maoberlehner/vue-lazy-hydration/issues/24

Open Source does not mean that people have to work for free because of the requirements of other people. Open Source means, that you can use this package, as it is, for free. You can contribute by adding fea

[2020-03-09 15:02] simplenotezy commented on #32
I see, Git removed "`<CodeInBrackets>`" if it's not surrounded by `

[2020-03-09 15:02] simplenotezy commented on #32
My question has been edited

[2020-03-09 15:04] simplenotezy commented on #38
I see, thanks for explaining. As I already said, if it takes me more than 15 minutes to replicate an issue (because codesandbox is not working atm), and I have already found a workaround/quickfix, I won't do it anytime soon. At least I make you aware that it has some issues that ought to be looked at, perhaps another guy will report this bug to you at a later stage.

[2020-03-10 18:53] simonhrogers opened #44 "Does this work for Nuxt’s Static Generation mode?"
I’m very sorry for the stupid question – I can’t tell if this would work as described when an app is static generated using Nuxt.

I have an excessive number of DOM elements on my page and I want to reduce the amount of JS required on initial page load. As far as I can tell, even in Static Generation mode, Nuxt still has to render pages in a manner which would make vue-lazy-hydration beneficial. I

[2020-03-12 10:25] Moncef12 opened #45 "Temporary fix (plugin?) to block sending bundles?"
Hello,

First of all, A great job on this component.

So, Because in vue template-renderer used by Nuxt the bundles are always sent,

Can we apply a (not necessarily pretty) workaround to remove them until this feature is supported (there is a pull request for this)?

 Currently scoring green in Lighthouse is very important for us as for SEO improvement.

Thanks :)

[2020-04-11 11:56] maoberlehner commented on #44
Yes, this works perfectly fine with `nuxt generate`

[2020-04-11 12:06] #44 closed

[2020-04-12 09:26] #45 closed

[2020-04-14 11:07] Fifciu commented on #42
@simplenotezy I had the same problem. I used `hydrateWhenVisible` function from Readme for components. It does not throw an error

[2020-04-27 13:21] simplenotezy commented on #42
So no solution yet @Fifciu ?

[2020-04-27 13:23] simplenotezy opened #47 "Conditional lazy hydration"
It would be cool if you could have a parameter to set if you want to "disable" lazy hydration. E.g.:

    <LazyHydrate :enabled="false">

I work with dynamic user defined components, and sometimes I'd like to disable LazyHydrate if a certain condition is met (e.g. "disable_lazy_load").

[2020-04-27 14:23] maoberlehner commented on #47
Not exactly what you want but as a workaround you can use `triggerHydration`.

[code]

[2020-04-28 16:37] saulhardman opened #48 "Advice Regarding Browser Support"
Hey Markus,

Thanks for the hard work on this project – it's very much appreciated 👍

I've just received an event in Sentry alerting me to the fact that someone using Chrome ~v60 tripped over this package's usage of `Map`. This led me to wonder what your recommended usage of this component is regarding feature polyfills? I can see that things degrade gracefully if `IntersectionObserver` is unsuppo

[2020-05-07 09:28] Fifciu commented on #42
As I said I've used `hydrateWhenVisible` in `components` as a workaround

[2020-05-15 09:50] Moncef12 commented on #45
For those looking for a solution try this:
[https://github.com/vuejs/vue/issues/9847#issuecomment-626154095](url)

[2020-05-21 11:54] milewski opened #54 "How can I make it work with vue router?"
Hi I have an app that im manually SSR it using `vue-server-renderer`, Aparrently seems that this plugin doesnt work for any of the components that I have inside VueRouter ... take this as an example:

[code]

Do you know what might be happening here? should it work normally with RouterView ?

[2020-05-22 09:16] milewski commented on #54
never mind this was a mistake on my side.. it does works as expected

[2020-05-22 09:16] #54 closed

[2020-06-15 10:58] lautr commented on #42
It works for me, i had one odd case where a dynamic component would only contain another component, but after wrapping it in a div, it worked.

thats my working code -> https://pastebin.com/EDZp64XA

[2020-06-19 10:33] spacedawwwg opened #57 "possible to pass props to import wrappers?"
Would to be possible to add an `idleTimeout` param to `hydrateWhenIdle` similar to defining a prop on the component?

[2020-06-19 11:29] spacedawwwg commented on #57
Now I'm thinking, I'm wondering if being able to pass any of the props to the Import Wrappers might be nice 🤔 ?

[2020-06-19 11:36] spacedawwwg commented on #57
e.g.
[code]
[code]

[2020-07-14 09:20] Sshuichi opened #58 "Support for hover for interactions"
Thanks for the amazing plugin!
How can I have hover as a condition for lazyhydrate?
For example:
[code]

[2020-07-14 09:26] Sshuichi commented on #58
It's
``` <LazyHydrate on-interaction="mouseover">```

[2020-07-14 09:27] #58 closed

[2020-07-14 11:38] Sshuichi opened #59 "Add support of passive listener for scroll for lazy hydration on touchstart"
Hi again,
Touch and wheel event listeners are useful for tracking user interactions and creating custom scrolling experiences, but they can also delay page scrolling. Currently, browsers can't know if an event listener will prevent scrolling, so they always wait for the listener to finish executing before scrolling the page. Passive event listeners solve this problem by letting you indicate that a

[2020-07-17 16:18] #59 closed

[2020-07-24 18:31] siwel opened #62 "Nuxt.js support"
Hey,

What version of NUXT are supported?

When using `Nuxt.js v2.13.3`, on `universal` mode with SSR, the components are still loaded on the client with JS

Thanks,
Lewis

[2020-07-24 20:11] maoberlehner commented on #62
Hello!

Do you mean that they are hydrated or that they are loaded?
For the later see https://github.com/maoberlehner/vue-lazy-hydration#prevent-javascript-bundle-loading

[2020-07-25 08:24] maoberlehner commented on #62
Just checked it in a Nuxt.js v2.13.3 environment: SSR only and delayed hydration works as expected.
For info about how to prevent loading of the JS see workarounds discussed in https://github.com/vuejs/vue/issues/9847
Thx!

[2020-07-25 08:24] #62 closed

[2020-07-28 13:48] lautr opened #63 "ignoredProps does not work when using hydrateSsrOnly"
ignoredProps does not work when using hydrateSsrOnl

* tested with with NuxtJS ssr mode
* happens in dev and production
* 1.0.0-beta.14 was used

**code**

[code]

still generates a limit attribute for ContentArticles

[code]

**see**
https://github.com/lautr/nuxt-performance-starter

**to reproduce**

1. checkout repository
2. yarn install
3. yarn dev

[2020-07-28 20:40] sakandemir06 opened #64 "Why components always hydrated on initial time (NuxtJS)"
<LazyHydrate :trigger-hydration="false" v-slot="{hydrated}">
    	<div>
			<div>
				Hi there! {{hydrated}}
			</div>
		</div>
	</LazyHydrate>

In this case, "hydrated" always returns true, but I need add condition for hydrating.
Previously, it was working properly in my project. What is the problem?

[2020-07-29 04:44] maoberlehner commented on #64
Because the code is always hydrated on the server.
There are always two cycles with SSR and Nuxt:

1. The server runs the code; the components are always hydrated; `Hi there! true` is rendered.
2. The client runs the code; the components are not hydrated; `Hi there! true` which is already there from SSR, stays untouched, because it's the point of this package to not re-render SSR HTML.

So `hydrat

[2020-07-29 06:38] sakandemir06 commented on #64
Thank you

[2020-07-29 06:38] #64 closed

[2020-09-12 18:00] simplenotezy commented on #47
Can you elaborate a bit on this @maoberlehner? Would this allow me to manually trigger a hydration? E.g. I could use "on-interaction" and then also have a `trigger-hydration` that would trigger once the element is visible? Or some other condition.

[2020-09-12 18:18] simplenotezy commented on #42
Thanks - that seems to work @Fifciu

[2020-09-13 01:40] simplenotezy opened #66 "Low score of Cumulative Layout Shift due to weird flashing of element on hydration"
I am trying to investigate weird flashing of elements on hydration; specifically it happens to our Hero element on our page, that is set to hydrate when visible. Have a look at this example from Google Pagespeed:

![image](https://user-images.githubusercontent.com/3786627/93008134-abc2c780-f571-11ea-84bd-8b44ec203d8e.png)

It can also be seen on our website: https://beta.thejewelleryroom.com - try

[2020-09-17 09:54] JBustin opened #67 "Try to understand the behavior"
Hello,

I use nuxtjs v2.14.3 as universal and the latest beta version of vue-lazy-hydration.
I have a hidden navigation tool that I hydrate only when the tool is opened for the first time (ssr-only + trigger-hydration). It works as expected for _no-mobile_, but not for my _mobile_ version (responsive).
Notice that nuxtjs generates the _mobile_ version.

To be more precise, mobile and desktop are t

[2020-09-17 10:43] steveyang331 opened #68 "Support vue 3 ?"
Support vue 3 ?

[2020-09-17 10:48] maoberlehner commented on #68
Hopefully this package will be obsolete with the release of Nuxt 3 / Vue 3

[2020-09-27 22:53] simplenotezy opened #69 "Trigger both on when visible + on interaction?"
Is it possible to trigger both when visible and on interaction?

[2020-09-27 23:12] #69 closed

[2020-10-13 15:25] janKollars commented on #66
I analysed the problem a little.
When the element should be hydrated (`this.hydrated` is true) the `LazyHydrate` component returns the VNode in the default slot. However, the VNode's `componentOptions.propsData` is undefined.
Later, the `propsData` is set and we enter the render function again.

[2020-10-13 15:41] maoberlehner commented on #66
@janKollars interesting 🤔
Thanks for taking a closer look. I'll see if I can do something about it.
Any help is appreciated!

[2020-10-14 08:59] simplenotezy commented on #66
Thanks @janKollars! That was a good investigation. I am curious how you did it though. I wanted to replay the rendering frame-by-frame, but I haven't found a way to do this properly.

[2020-10-15 14:02] janKollars commented on #66
For debugging I copied the project's code and created a minimal setup.
Then, I placed breakpoints in my browser's DevTools.
You might want to watch the [line](https://github.com/maoberlehner/vue-lazy-hydration/blob/a20200820be9bdc9b34ebe5d2c6d10e90f76c290/src/LazyHydrate.js#L242) where the child is returned and check its propsData.

[2020-10-29 13:10] j0Shi82 commented on #66
Stumbled over this issue as well. It seems to be related to lazy loading the hydrated components using vue-lazy-hydration's scoped slot logic. Just lazy hydrating works and there's no flicker, but as soon as I want to lazy-load the component as well... trouble.

I managed to work around the issue by letting an independent observer watch for the intersection and using it to manually trigger the hyd

[2020-10-29 13:26] simplenotezy commented on #66
@j0Shi82 Thanks for your reply. Funny that you just respond, I just went to this GitHub issue to bring an update, and here's your reply only 9 minutes ago.

Anyhow. I managed to get rid of the page jumping. It was related to something else than the data-prop I believe.

How I overcame the "page jumping" issue.

I load my Hero component like this:

    Hero: hydrateWhenVisible(() => import('~/compo

[2020-10-29 13:39] maoberlehner commented on #66
@j0Shi82 why don't you use `when-visible`?

[code]

[2020-10-30 08:01] j0Shi82 commented on #66
@maoberlehner Because then the lazy-loaded items "flicker" once they get hydrated. I'll try to get a minimal repro up to make sure it's nothing on my end. Turns out my solution does alleviate the flickering, but isn't able to completely solve it either. I'll try to come back with more information.

[2020-11-03 15:58] simplenotezy commented on #66
@maoberlehner Have you had any time to look at this yet? It's quite a big issue for our Cumulative Layout Shift score.

Here's another weird example:
![lazy](https://user-images.githubusercontent.com/3786627/98009296-ac4f4000-1df5-11eb-8096-635340c2890e.gif)

The section hydration is triggered immediately like this:

    <LazyHydrate :trigger-hydration="true">

So it's pretty weird.

[2020-11-03 16:07] simplenotezy opened #71 "Cannot read property 'resolved' of undefined when removing <LazyHydrate>"
I am debugging some issues with LazyHydrate and I stumpled upon something I really can't explain.

I have a piece of code like so:

	<LazyHydrate :trigger-hydration="hydrateProductList">
		<div class="container">
			<template v-for="(chunk, chunkIndex) in chunkedProducts">
				<div
					v-if="!(chunkIndex % chunksPerFetch)"
					:key="'page-break-' + chunkIndex+chunkedProducts.length"
					:data-p

[2020-11-04 07:34] j0Shi82 commented on #66
I haven't been able to get a minimal repro up, but managed to find the cause of our flickering. It seems to only occur when using the LazyHydrate component with code splitting logic (in our case with `when-visible`). This example from the official docs should have the same issue:

[code]

Within the lazy-loaded component I inspected the state at the time of the created hook. You can clearly see th

[2020-11-04 07:44] j0Shi82 commented on #71
Without more code I think it's hard to debug. One generic fix I can think of is not lazy-loading the involved components.

Check for

[code]

and change it to

[code]

Because the error could indicate that Vue is trying to render something that is not yet (lazy-)loaded. But the error is fairly generic. So this is just an vague guess.

[2020-11-04 10:26] simplenotezy commented on #71
Interesting @j0Shi82 I think you could be right. Let me check that.

[2020-11-04 10:35] simplenotezy commented on #66
Thanks for your throughout answer @j0Shi82. I also experience issues with page jumping to top once page has been hydrated (e.g. from the initially loaded HTML that is server side rendered, and to then when page hydrates using javascript, the page jumps to top). Not sure if that's related as well?

Anyhow, in regards to the use of wrappers, do you mean import wrappers? https://github.com/maoberlehn

[2020-11-04 14:50] j0Shi82 commented on #66
Yes

[2020-11-04 15:03] simplenotezy commented on #66
@j0Shi82 thanks. That worked way better, we don't see flickering anymore.

[2020-11-04 15:04] simplenotezy commented on #71
That seemed to do the trick, @j0Shi82

[2020-11-04 16:39] simplenotezy commented on #66
Our organic traffic has decreased 300% since october, and it has been a huge mystery to us, why this has happened all of a sudden. Upon hours of code review and investigation a very clear picture starts to be pained: **flickering of lazy hydrated sections (resulting in page jumps and CLS) causes the decrease of traffic**. Google must've changed their algorithm (and they did). They penalise much ha

[2020-11-04 17:00] maoberlehner commented on #66
Thanks all for your work on this. I'd like to take a closer look at this in the next days. It would be a great help if you can create a minimal reproduction repository.

[2020-11-08 13:42] janKollars commented on #66
I was wrong. It had nothing to do with props. Instead, I believe the problem is caused by the render function in `loadingComponentFactory`. I tried returning a vnode "copy" of the server-side-rendered element and it works.
I will create a quick pr so you can test my solution.

[2020-11-10 09:18] simplenotezy commented on #66
Although the page-jumping does not happen when using Wrappers, I noticed that it does/can happen when switching pages.

![ezgif-6-9d0f55e99fab](https://user-images.githubusercontent.com/3786627/98653854-d5b02480-233d-11eb-8fa9-b5642be406ca.gif)

(try live example here: https://thejewelleryroom.com).

It specifically happens when loading Product pages, where I am lazy-loading an ImageSlider compone

[2020-11-10 10:55] maoberlehner commented on #66
@simplenotezy thanks! But I highly prefer a minimal reproduction repository.

[2020-11-10 17:51] maoberlehner commented on #66
I just published an alpha version of 2.0! https://www.npmjs.com/package/vue-lazy-hydration/v/2.0.0-alpha.0
Although I did nothing specific to fix this issue, the changes I made could potentially fix this too.
**Attention:** `ssr-only` is now `never` as in `Hydrate? Never!`.

[2020-11-13 11:23] #66 closed

[2020-11-13 20:19] hecktarzuli commented on #66
@simplenotezy Web Vitals hasn't hit Web Ranking yet.
https://twitter.com/dalmaer/status/1326201817647124480

[2020-11-15 02:36] simllll opened #74 "v2-beta: Cannot read property 'length' of undefined"
[code]

I get this error with the new v2beta version.

Is the version already "ready" for testing? Let me know if I can help you debugging.

[2020-11-15 08:57] #74 closed

[2020-11-15 08:58] maoberlehner commented on #74
Hi! Thanks for the report. Did you use import wrappers? If so, this should be fixed now.

[2020-11-15 09:31] simllll commented on #74
Yes, we are using the import wrappers. I will test tomorrow and let You know. Thanks for the quick fix !

[2020-11-16 16:05] kkukelka opened #75 "Slots not working with importWrappers when migrating to v2.x"
Hey, we are using vue-lazy-hydration very extensively and started migrating to version 2.0.
However, when using named slots like this while the components are imported via importWrappers
[code]
the content doesn't seem to get rendered.

Using it via `<LazyHydrate />` fixed the issue for us. But we would like to know why.

[2020-11-16 17:04] maoberlehner commented on #75
Hello Kilian! Thanks for reporting this issue! I just realized that I made a mistake when I implemented the import wrappers. I'm working on it. In the meantime you can stick to v1 or use `<LazyHydrate/>`

[2020-11-17 08:47] FilipLundby opened #76 ""export 'hydrateNever' was not found in 'vue-lazy-hydration'"
I'm trying to use hydrateNever as a wrapper, but I'm getting this warning when building the project (2.0.0-beta.1):

[code]

This is how I import and use it:
[code]

[code]

However, using the `never` attribute works:
[code]

[code]

[2020-11-17 18:46] SyloRei opened #77 "Doesn't work app after update to beta"
I have 2 versions of my app: SSR and CSR. After updating from the alpha version to the beta version, I got a broken CSR version.

For example, my async component definition:
`Vue.component(
  'Element',
  hydrateWhenVisible(
    () => import(/* webpackChunkName: "element" */ './tile/Element.vue'),
    { observerOptions: { rootMargin: '100px' } },
  ),
);`

Before updating, all was worked.

Error i

[2020-11-18 14:55] simplenotezy commented on #66
Awesome @maoberlehner! Where's the changelog for this? Will apply version 2 and see if it fixes the CLS issue.

[2020-11-18 15:20] simplenotezy opened #78 "`this.$refs.hydrate.hydrated` not possible in version 2?"
In version one you could do:

    <LazyHydrate ref="hydrate" when-visible>

And then in your javascript method do like so:

    if (this.$refs.hydrate.hydrated) {

However, in version 2 that seems not to be possible anymore.

Am I missing something? I didn't find a changelog from version 1 -> 2 so not sure what has changed.

[2020-11-18 15:25] simplenotezy commented on #66
@maoberlehner I have just tested out version 2, and unfortunately it still has CLS issues, where the page will jump when switching page. See this recording:

![ezgif-7-f58b8f272fa8](https://user-images.githubusercontent.com/3786627/99550170-b60ea100-29ba-11eb-810a-bcd2fe56a234.gif)

The way I load the ImageSlider that is jumping is like so:

    ImageSlider: hydrateWhenIdle(() => import('~/compone

[2020-11-18 16:12] maoberlehner commented on #78
Because I've completely rewritten v2, this is not possible anymore. I did not consider this a breaking change because your approach relies on implementation details that were not meant to be public and were not in the documentation.
I could add it back in. However, I'd prefer not to, to keep the code as simple as possible.

I also don't recommend doing this. The Vue model is *props down, events up

[2020-11-18 16:14] maoberlehner commented on #77
Please provider a minimal reproduction (e.g. CodeSandbox). Thanks!

[2020-11-18 16:17] maoberlehner commented on #66
It is really hard for me to see the problem on that gif because Idk where it starts and everything happens so quickly. Would highly prefer a video, that I can pause and play on demand.

[2020-11-18 19:54] SyloRei commented on #77
Sorry for the bad report. Here minimal reproduction: https://codesandbox.io/s/mystifying-snyder-siesg

You can change a version of the library and see the difference.

[2020-11-19 09:01] simplenotezy commented on #66
Hey @maoberlehner - Will this suffice? https://youtu.be/uhSBueZuFTI

[2020-11-19 09:07] maoberlehner commented on #66
Much better. Thanks!

[2020-11-19 10:10] #75 closed

[2020-11-19 10:15] maoberlehner commented on #76
Strange, can't reproduce. Please make sure that you're actually using v2.x. Maybe delete `node_modules` and install fresh. Thanks.

[2020-11-19 10:18] #71 closed

[2020-11-19 10:47] simplenotezy commented on #66
Great. @maoberlehner. Perhaps if there was a way to disable LazyHydration once the page has hydrated once (and any PageSpeed score test would've completed). So when going to a new page, LazyHydration is disabled, unless explicitly enabled on some components.

[2020-11-19 11:31] maoberlehner commented on #67
Hello @JBustin ! I highly recommend you to not do stuff like `<component :is="isMobile ? 'HeaderMainNavMobilePanel' : 'HeaderMainNavPanel'>` with Nuxt! If SSR HTML does not match client-side rendered HTML you're heading for trouble.

Make sure SSR HTML does always match client HTML 100%!

[2020-11-19 11:35] maoberlehner commented on #48
I might consider removing Map. But not a big priority. In Nuxt.js you can add this package to the list of transpiled dependencies.

[code]

[2020-11-19 11:37] maoberlehner commented on #66
This is already happening. On route changes, lazy hydrated components should behave exactly like normal async components. Not sure why this is not the case.

[2020-11-19 11:38] maoberlehner commented on #66
Can you please make sure that the problem still exists with 2.0.0-beta.2 I released today? Thanks!

[2020-11-19 15:09] simplenotezy commented on #78
Yes, that would be very helpful @maoberlehner

[2020-11-19 15:10] simplenotezy opened #79 "Message: Cannot read property 'props' of undefined"
I just upgraded from `2.0.0-alpha.0` to `2.0.0-beta.2` and that triggers the following error:

[code]

[2020-11-19 15:14] silencerspirit commented on #79
yeap. me to catch this error.

[2020-11-19 15:20] simplenotezy opened #80 ""never" seems to trigger mounted() nonetheless"
I have a very simple component like so:

		<LazyHydrate never :trigger-hydration="false">
			<FreeShippingPopUp />
		</LazyHydrate>

And inside `FreeShippingPopUp.vue` I have this:

	mounted () {
		alert('I am hydrated!');
	}

However, the popup appears on the page, which I would expect it wouldn't since it's set to "never". Using version `^2.0.0-beta.2`

[2020-11-19 15:24] simplenotezy commented on #79
Hmm - for some reason `2.0.0-alpha.0` also triggers this error.

[2020-11-19 15:40] #43 closed

[2020-11-19 16:01] maoberlehner commented on #79
Look, people, I understand that it can be frustrating to use an Open Source project which has a bug that prevents you from doing the things you want to do. I've been there. But I do this stuff in my free time. The last two weeks I've worked probably 40+ hours on this in my free time. For almost 0 €.

Please read: https://github.com/maoberlehner/vue-lazy-hydration/blob/master/CONTRIBUTING.md

[2020-11-19 16:06] maoberlehner commented on #80
Can't reproduce.

[2020-11-19 16:07] maoberlehner commented on #63
This is now obsolete thanks to v2

[2020-11-19 16:07] #63 closed

[2020-11-19 16:41] maoberlehner commented on #79
Could reproduce the problem myself. Was a stupid mistake I made. Will be fixed with next release.

[2020-11-19 16:44] #79 closed

[2020-11-21 14:56] maoberlehner commented on #77
Can you test with the latest version beta.4 I fixed a lot of stuff.

[2020-11-21 14:58] maoberlehner commented on #57
The lazy hydration props for `idleTimeout` and the Intersection Observer settings are options when using import wrappers. Trigger hydration is not supported on wrappers and I have no plans of supporting it. If you need it, you can use `<LazyHydrate>`.

[2020-11-21 14:58] #57 closed

[2020-11-23 14:57] SyloRei commented on #77
Recent fixes have repaired it. Thank you!

[2020-11-23 14:58] #77 closed

[2020-12-09 05:16] athulanilthomas commented on #80
The same happens to me also.

[2020-12-11 09:06] gibkigonzo opened #81 "v-if="hydrated" doesn't work with async components"
Hey, I have problem with combining `when-visible` and async component. I try to follow this article https://markus.oberlehner.net/blog/how-to-drastically-reduce-estimated-input-latency-and-time-to-interactive-of-ssr-vue-applications/

When using async component it's recommend to also use `slot-scope="{ hydrated }" v-if="hydrated"`. I understand the reason, but it seems not working.

**v2.0.0-beta-

[2020-12-11 09:31] gibkigonzo commented on #81
**v1.0.0-beta.14** and **v2.0.0-beta-4** Works when using `hydrateWhenVisible`:
[code]

@maoberlehner `hydrated` is not available anymore in v2. Is it recommend way to use `hydrateWhenVisible` when using async components and `when-visible` ?

[2020-12-11 10:55] maoberlehner commented on #81
Yes, this functionality was removed with v2 because it never worked as intended.

Either use

[code]

or

[code]

[2020-12-11 11:26] gibkigonzo commented on #81
Thank you very much :) I will close issue

[2020-12-11 11:26] #81 closed, assigned to nobody

[2020-12-13 17:19] mathieumagalhaes commented on #78
This certainly broke certain things in production.
The events suggestion would certainly fix this.
I'll keep an older version running for now.
+1

[2020-12-14 18:31] TitanFighter opened #83 "<LazyHydrate> suppresses <client-only>"
In this case:

[code]

`<client-only>` does not work.

[Some details](https://stackoverflow.com/questions/65292660/nuxt-how-to-know-that-hydration-has-been-finished).

[2020-12-24 16:49] DEADSEC-SECURITY opened #85 "Library not working"
So I'm trying to use this library but I don't seem to be able to make it work. I followed the docs but it loads the component like without the plugin.

MY CODE:
[code]
[code]
[code]

I have more code but it's +1.5K lines so ill just leave this simplified version.

I tried when visible and on idle but all of them load normally without any lazy loading from the plugin.

[2020-12-27 15:58] milindsingh commented on #80
The following condition is always true. I am using `never` in gridsome but client-side rendering is always happening.

[code]

[2020-12-29 04:55] milindsingh commented on #80
@noxify and I have tested on the sandbox and it always triggers the `mounted` method.

@maoberlehner Any idea whats wrong? We could fix it if you just guide us in the right direction. Thanks

V1: https://codesandbox.io/s/vue-lazy-hydration-example-v1-n99ov
V2: https://codesandbox.io/s/vue-lazy-hydration-example-v2-umbgy

[2020-12-29 05:21] maoberlehner commented on #80
@milindsingh vue-lazy-hydration allows you to delay or block the hydration of **server-side** rendered Vue.js components. In your CodeSandbox example there is no server-side rendering going on. If there is no server-side rendered HTML there also is no hydration. So this package is useless in your examples. If vue-lazy-hydration would block *mounting* in your example, the component wouldn't render

[2020-12-29 05:32] milindsingh commented on #80
@maoberlehner Thanks for clearification. I totally understand your point.

I am facing issue with gridsome, where initially ssr content is display but once the page loading done in browser the ssr content is replaced by the new content rendered by component.

[2020-12-29 05:57] maoberlehner commented on #85
Can't reproduce.

[2020-12-29 06:01] maoberlehner commented on #80
Then show me a minimal reproduction of your problem with Gridsome on CodeSandbox 🤔

[2021-01-04 05:22] maoberlehner commented on #83
Pleas provide a minimal reproduction when you're still interested in a fix.

[2021-01-04 05:23] maoberlehner commented on #76
Close because of inactivity.

[2021-01-04 05:23] #76 closed

[2021-01-04 05:24] maoberlehner commented on #41
Close because of inactivity.

[2021-01-04 05:24] #41 closed

[2021-01-04 05:25] #42 closed

[2021-01-04 05:27] #48 closed

[2021-01-04 05:27] #67 closed

[2021-01-07 02:57] Velikolay opened #86 "hydrateWhenVisible - chunk loading is not lazy in nuxt static mode"
Heya! Thanks for the great library.
Is this supposed to work with nuxt static gen? My expectation is that the chunk will only be downloaded when the component becomes visible, but it's pulled on initial page load which is kinda upsetting. Same happened with hydrateNever. The hydration aspect of it works as expected though. Am i doing something wrong? Here's code:

[code]

Thanks a ton!

[2021-01-08 15:19] Velikolay commented on #86
Found the answer here: https://github.com/maoberlehner/vue-lazy-hydration/issues/62

[2021-01-08 15:20] #86 closed, assigned to nobody

[2021-01-24 11:54] gibkigonzo commented on #85
@maoberlehner here is repo with nuxt https://github.com/gibkigonzo/vue-lazy-hydration-85
I used same setup in vue-storefront (also uses vue-server-renderer) and there it works when using function wrappers (for example `hydrateWhenVisible`), but doesn't work with LazyHydrate
You can check in Network tab that `logo` script is loaded even if it's not hydrated yet

[2021-01-25 15:51] TheDeveloperTom opened #87 "A weird behavior on production build."
Hi!

**Stack**: nuxt.js + vue-lazy-hydration
**Description**: There is an interesting thing. On development mode this works well and load the component bundle when it's almost visible.
![image](https://user-images.githubusercontent.com/25426552/105729313-c18bc480-5f35-11eb-9a8b-2f9e18aceaf3.png)

But in the production build, it doesn't load nothing when I scroll to the footer.

Is that a correct b

[2021-01-27 17:27] arnaugiralt commented on #85
It might be because of Vue / Nuxt are trying to preload the component:
https://ssr.vuejs.org/api/#shouldpreload
https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-render#resourcehints
https://cli.vuejs.org/guide/html-and-static-assets.html#preload

Perhaps related to https://github.com/vuejs/vue/issues/9847 ?

[2021-01-31 09:48] EdeMeijer commented on #68
Hey, I was wondering what the state of lazy hydration with vue 3 is right now (can't find much about it except this repo). I saw your blog post from november 2020 stating that you are porting this package to vue 3, so I guess that means it's not obsolete after all? Perhaps this issue should be reopened if so so we can follow its progress.

Just researching options for a project, not in immediate n

[2021-01-31 12:34] maoberlehner commented on #68
Vue 3 support is planned.

[2021-02-02 14:37] kedrzu opened #88 "Causes scroll jumps when going back and forward in browser"
I use this library along with `Nuxt` and basic `vue-router` in SSR / static mode.

### Reproduce steps:
1. **Render page.** Everythings loads fine (statically), lazy hydration works perfectly.
2. **Scroll somewhere down.**
3. **Go to some other page.** This is standard SPA navigation to some other page using `vue-router`. Still works like charm.
4. **Click back in your browser.**

And here's the d

[2021-02-02 16:09] maoberlehner commented on #88
Thank you for your detailed issue report. Still, providing a reproduction app (CodeSandbox or GitHub repo) would make it easier for me to work on this, which will make it more likely that I'll work on this sooner.

[2021-02-02 18:42] vhoyer opened #89 "Why this project works?"
I seriously can't wrap my head around this code, I've read the all of the code here, does Nuxt not hydrate the component if the promise don't resolve? can you give me a quick lecture about all this? :sweat_smile:

[2021-02-07 09:51] mastercoding commented on #78
I might be missing something, but this is an essential feature for lazy loading components to work for example (and to not have all of them "preloaded" on page load). And event would work fine, though.

[2021-03-25 09:07] #85 closed, assigned to DEADSEC-SECURITY

[2021-03-30 08:05] danelowe opened #92 "Is this meant to work on plain html inside a template too?"
I've just noticed that we've been using `<LazyHydrate ssr-only/>` around divs with text that does not need any hydration. I've only just considered that perhaps `LazyHydrate` is only meant to lazily hydrate whole hydrate vue components, and not parts of templates. If so, does the vue component need to be the only child, or a direct child of `LazyHydrate`?

I didn't see any mention of this in the r

[2021-03-30 12:31] TitanFighter commented on #92
AFAIK everything inside `<LazyHydrate></LazyHydrate>` is not hydrated, does not matter how many nested/child components you have inside.

[2021-03-31 05:32] danelowe commented on #92
I just re-read the readme and found mention that multiple vue components can be lazy-hydrated by wrapping them in a single div, which is itself wrapped by LazyHydrate. However I'm still uncertain as to whether there is any benefit to lazy-hydrating (never/ssr-only) plain html inside a template.

[2021-03-31 05:41] danelowe opened #94 "Caveat: attrs that change before lazy-hydrate."
I just spent a bit of time debugging an intermittent issue that prevented hydration of a page.

I'm pretty certain now that the issue is to do with an a value that changes after the page is loaded, and passed as an attr to a component in lazy hydrate. The value sometimes changes before the lazy-hydration and so the rendered html differs to the ssr html, hydration bails, and lazy-hydrate throws an

[2021-03-31 17:43] maoberlehner commented on #92
There is a benefit. How big of a benefit there is depends mostly on the number of HTML elements and nesting depth.

[2021-03-31 17:43] #92 closed, assigned to nobody

[2021-04-02 07:41] kedrzu commented on #89
https://vuejs.org/v2/guide/components-dynamic-async.html#Async-Components
On SSR component is fully rendered.
On client component remains async and it's rendering is deferred.

[2021-04-07 06:25] danelowe commented on #68
I was uncomfortable with starting a Vue 3 project until I knew this could be done, so I quickly knocked up something to work with Vue 3

https://gist.github.com/danelowe/82d870674bac81a9aaa37eb29caaa42c

It seems to work ok with the import wrappers.

Also seems to work with `LazyHydrate` as long as you don't forget to use `defineAsyncComponent` when loading any async the components that go into th

[2021-04-07 14:04] maoberlehner commented on #68
The Vue 3 Version will take advantage of a couple of improvements that are possible thanks to the new Vue 3 API. I have a Proof of Concept version running but it will not be released before Nuxt 3 (although not directly related and not limited to Nuxt).

[2021-04-12 14:31] simplenotezy commented on #66
@maoberlehner Apologies for my late response. The issue came to my attention again after discussing this matter with a colleague of mine. I just tried installing version `2.0.0-beta.2` instead of `^1.0.0-beta.12`, however, I get this error notification right away:

    render function or template not defined in component: FlexibleContent

Not sure if there are any breaking changes I need to take c

[2021-04-12 14:31] simplenotezy commented on #66
And could we perhaps open this issue until a solution is found? I am more than happy to help out with anything you need.

[2021-04-12 14:34] maoberlehner commented on #66
How does `Sections.vue` look like?
Does it work without lazy hydration?
https://github.com/maoberlehner/vue-lazy-hydration#upgrade-v1x-to-v2x

[2021-04-19 08:43] invisor commented on #34
I running into the same issue. Any fixes or workarounds?

[2021-04-19 15:56] maoberlehner commented on #34
Don't add classes on `<LazyHydrate>` iself. `<LazyHydrate>` does not render anything so adding classes does not make sense.

[code]

[2021-04-19 15:56] #34 closed

[2021-04-28 12:40] paulnta opened #96 "Hot reload fails when using Import wrappers"
I have a Nuxt project and I'm trying to understand why import wrappers such as `hydrateWhenVisible` don't work well with hot reload. When I edit a lazy hydrated component, some errors are triggered and the component seems to lose its props.

**Steps to reproduce:**
You can use this codesandbox: https://codesandbox.io/s/vue-lazy-hydration-hot-reload-issue-vfrpm
- No problem when editing `pages/inde

[2021-04-29 12:04] paulnta commented on #96
One additional info is that this issue happens only with v2

[2021-05-06 15:28] Snake231088 opened #97 "() => import(...)"
Do components have to be imported with () => import(...) to work in Nuxt, or does it also work with component auto import or normal component import?

Thanks

[2021-05-06 17:02] maoberlehner commented on #97
Every component works, no matter how it is imported.

[2021-05-06 17:02] #97 closed, assigned to nobody

[2021-05-11 09:32] NicolasLoisirsEncheres opened #102 "Failed to execute 'observe' on 'IntersectionObserver' when using nuxt-link with vue-glide"
I've got an error when using nuxt-link : **Failed to execute 'observe' on 'IntersectionObserver': parameter 1 is not of type 'Element'**.

I'm looking this issue on : https://github.com/maoberlehner/vue-lazy-hydration/issues/19 and trying to use v-slot={ hydrated } v-if="hydrated" it but doesn't work.

I have this error only when using nuxt-link or back history, not when refreshing the page or usi

[2021-05-17 04:59] danelowe commented on #68
@maoberlehner Is it possible to see the proof of concept, or anywhere to look to see what can be done with hydration in Vue 3?

[2021-05-17 13:29] haovoanh28 opened #103 "Not work well with scroll-to-element"
I'm currently have an issue with scrolling-to-element.
My website has 2 routes : ' / #someSectionId' and ' /blog ' and both shared the same Header component.
If I'm on root route ( '/' ) at initial , everything works fine. But if I'm on ( '/blog' ) at initial, when I click arbitrary links in Header component to go to some section on home page, the url actually displays #someSectionId but then imme

[2021-05-20 13:03] IlyaShkurenko commented on #102
Have same issue when using WnenVisible, WhenIdle works fine

[2021-06-17 12:18] surajrao commented on #87
any workarounds for this issue?

[2021-06-19 15:39] hereiscasio commented on #20
Hi, @maoberlehner, @jeanphilippeds
Does this issue related to what I posted as [here](https://github.com/nuxt/nuxt.js/issues/9457)？

If it is true. It seems, at least now, only the possible workaround will be this [one](https://github.com/vuejs/vue/issues/9847#issuecomment-626154095)
（ note, Nuxt _**modern**_ mode can't workaround what we want any more）

Thanks,

[2021-06-30 15:13] mateuszlubianka1993 opened #108 "Multiple root nodes returned from render function."
**Subject:**
I want to use **vue-lazy-hydration**, but when i try i always get the same warn:

And the component is not showing.

I have tried with many different components.

**Example code:**

[code]
[code]
I also tried this way:

but also the same error occurs.

Do you know what could be causing the problem?
If more details are needed, I will provide them.

[2021-06-30 17:42] maoberlehner commented on #108
Code looks correct. Please add a link to CodeSandbox reproduction.

[2021-07-04 10:22] maoberlehner commented on #87
I can't reproduce it.

[2021-08-03 15:39] tjk commented on #68
Any updates on this or still just waiting on nuxt 3? Would also be interested if you could share anything early... Thanks for your work on this nonetheless!

[2021-08-05 12:02] Kolobok12309 opened #110 "Question: exclude async components from init load"
I use this package and it worked well with hydration and async componnets. But can i exclude some async components, from initial html scripts? I have NavBar with some only mobile and only desktop elements, but nuxt load all of them(hydration work as expected)

[2021-08-17 08:25] wizardpisces commented on #94
After read source code: at core this package transforms normal component to async one，so this package can be used under one hidden condition: the component could be transfromed to async one;
So to your question:
your component obviously could not be changed to an async one, so this package should not be used

[2021-08-19 11:03] Kolobok12309 commented on #83
I think he about hydration error if use client-only and lazy-hydration
[Reproduce](https://codesandbox.io/s/agitated-varahamihira-x2e85?file=/components/Tutorial.vue)
It may be usefull, for create component only for client and only `when-idle` or `when-visible`

[2021-08-19 11:34] Kolobok12309 commented on #110
Reproduce
[Code](https://codesandbox.io/s/nifty-joliot-zc62c?file=/pages/index.vue)
[Page](https://zc62c.sse.codesandbox.io/)

If you go to `page` link, you can see script `/_nuxt/tutorial-lazy.js` in ssr html, but component async
I know that `vue-lazy-hydration` not call it, check it in console.
For some components it work as expected(load only when trigger hydration)

[2021-09-09 16:16] paulnta commented on #96
I looked more into this issue and it seems related to the way the HoC render function (`makeHydrationBlocker`) is implemented: `attrs: this.$attrs` doesn't forward props correctly during hot reload.

https://github.com/maoberlehner/vue-lazy-hydration/blob/fc76681ed3538a29bc6af259f49d184b6e909d3b/src/utils/hydration-blocker.js#L84-L89

I could reproduce the same problem by creating a minimal HoC th

[2021-09-09 18:44] paulnta commented on #110
This issue is more related to `vue-server-renderer` which Nuxt.js depends on. If an async script is used on the server when rendering the page, [vue-server-renderer will automatically inject it into the HTML](https://github.com/vuejs/vue/blob/515467a618479792abedf01a7b1dcef2ac2a17ed/src/server/template-renderer/index.js#L223-L234).

So you are looking for a way to tell `vue-server-renderer` to not

[2021-09-09 20:11] paulnta commented on #94
That's true, changing a prop before a component is hydrated could lead to a hydration error (Mismatching childNodes vs. VNodes)

Example:
See https://codesandbox.io/s/lazy-hydration-dom-mismatch-m9ivp?file=/pages/index.vue
[code]

Changing `showDescription` in mounted hook will lead to a hydration error when `BaseSection` becomes visible (while doing the same without lazy hydration is safe)
[code]

[2021-09-27 20:02] regenrek commented on #96
Hi @paulnta what error message did you get when this happened? I think I'm having the same issue. Will try your possible fix.

Regards

[2021-09-30 14:49] paulnta commented on #96
@regenrek the error happen because the component props are lost sometimes after hot reload. So you may have an error like `Cannot read property '<name of a property>' of undefined`. That's what I got first.

And this error triggered the next one `Failed to execute 'unobserve' on 'IntersectionObserver'`. This happens because the component fails to render and Vue turns it into a `` comment which is

[2021-09-30 15:02] paulnta commented on #96
In the current version we are using `vue-lazy-hydration@1.0.0-beta.14`, import wrappers don't work with [Nuxt fetch](https://nuxtjs.org/docs/components-glossary/fetch/) hook. So we would like to upgrade, but the current version has this issue which is not an ideal DX.

While waiting for a fix, I'll probably switch to `<LazyHydrate when-visible>....</LazyHydrate>`. However, I noticed some important

[2021-10-11 11:13] hsks opened #116 "Hydrate `never` doesn't seem to work"
Hi,
Thanks for this amazing library.
I was trying this out with nuxt 2.x with hydrate `never` mode. The code looks something like this:

[code]

`isSsr` is a computed property that simply returns the value of `process.server`.

For some reason, as soon as the page is rendered on the client side, Component A resolves to `Ssr mode is false`. It works fine when I turn javascript off, which means it's

[2021-10-11 22:02] TitanFighter commented on #116
As I understand the default value of isSsr is "false" and as I understand you want to transfer server side value to the client, right? If I remember correctly it wont work. LazyHydrate is a client side tool, this is the reason why you see "false", ie on the client it falls back to the default "false" value.

[2021-10-12 03:19] hsks commented on #116
Hi,
Thanks for the reply. I agree LazyHydrate works on the client side. But given the `never` hydrate prop, shouldn't it block any hydration on the client side. This in turn will result is only the server side content rendered -? hence the expected `true` value.

[2021-10-12 14:50] TitanFighter commented on #116
I had similar situation long time ago and if I remember correctly I came to the conclusion that: in case of "never" LazyHydrate simply reads default value of variable (as I understand, it is "false" in your case).

[2021-10-12 14:54] hsks commented on #116
It should be `true` in any case, since process.server is true during server side rendering. It will only become false if client hydrates the component.
And it seems it has something to do with my app configuration specifically. I just configured a fresh nuxt app and used lazy hydrate, it works fine

[2021-10-12 21:32] phiberber commented on #68
Nuxt 3 was just released. Any updates?

[2021-10-15 07:58] kedrzu commented on #88
I made a fix for the issue: https://github.com/maoberlehner/vue-lazy-hydration/pull/113
I use it in a production application and works like charm. Can you take a look?

[2021-10-24 20:03] nekooee opened #117 "LazyHydrate not work for me"
Hi,
I used the LazyHydrate as follows but But in all cases, even "never" immediately runs the slideshow and the photos are displayed. What is the reason?

[code]

[2021-10-29 11:10] LiNCH35 commented on #87
I had the same problem.

I replaced `<a v-if="condition"/>` to `<a v-show="condition" />` in hydrated component and it helped.

[2021-10-30 05:46] mackonen opened #118 "hydrateWhenVisible sometimes doesn't fire on first load"
Hi,

I'm having an issue where hydrateWhenVisible doesn't fire on first load ie. the elements/components are left empty but when I do a reload of the page the elements load fine. Any ideas what might be causing this? (using in Nuxt 2.15.8)

`    Artists: () => hydrateWhenVisible(import("@/components/artists_HScroll")),
`

The data for the element is fetched in asyncData()

[2021-11-03 14:24] DavidGolodetsky commented on #117
Maybe you're looking for [lazy-loaded ](https://nuxtjs.org/tutorials/improve-your-developer-experience-with-nuxt-components/#lazy-loading-your-components)components because this package is for lazy-hydration. Meaning that your content is generated on server-side and shown immediately, but its "interactivity" is applied later.

[2021-11-03 14:29] DavidGolodetsky commented on #89
@kedrzu  Not really. Lazy-loaded components and Lazy-hydrated components are different things. Asyc/Lazy loaded components means that the whole bundled SFC is loaded and rendered later, lazy-hydration on the other hand means that the component was rendered on SSR but it's "interactivity" applied later

[2021-11-03 14:49] nekooee commented on #117
Hi,
Do you mean that this package is only for ssr?

[2021-11-03 15:01] kedrzu commented on #89
Yes, I know how lazy hydration work. But if you read through library source code, you would see, that underneath it makes a component to be a function that returns a promise, exactly the same way you would lazy load a component.

So, this trickery makes Vue think, that the component is lazy-loaded and handles it the same way.

On SSR side, there is no lazy loading involved, so the component is ful

[2021-11-03 21:47] DavidGolodetsky commented on #89
Ah, I see, interesting. Thanx for the break down,  didn't grasp it from your initial reply:)

[2021-11-03 21:51] DavidGolodetsky commented on #117
Yup, it's from the package dscription:

`This plugin will not work as advertised if you're not using it in combination with SSR. Although it should work with every pre-rendering approach (like Prerender SPA Plugin, Gridsome, ...) I've only tested it with Nuxt.js so far.`

[2021-11-12 13:09] MartinMalinda commented on #83
For us this is happening consistently but not in all places where we use `<LazyHydrate>`. Somewhere `<client-only>` within `<LazyHydrate>` works, somewhere not.

But in the end it's a `['']` vs `[]` conflict.

The workaround is to create your own `<ClientOnly>` that consistently renders a `span` as opposed to a comment vs. nothing.

[code]

[2021-11-15 13:53] pawelmiklas opened #119 "plugin is not working on build"
I use nuxt 2.15.8 with vue-lazy-hydration. Plugin works properly on dev environment but when I build it and run locally static content is rendered but it's not reactive. I tried to use imports and components - the same behavior. Any ideas what's wrong?

[2021-11-15 20:07] mackonen opened #120 "."

[2021-11-15 22:10] #120 closed, assigned to nobody

[2021-12-07 14:25] tre-dev commented on #83
@MartinMalinda @maoberlehner I'm experiencing a similar problem as above from Martin, where using `v-if` or `v-for` results in this line `this.$el.nodeType === Node.COMMENT_NODE` getting triggered, overwriting the `never` parameter.

[code]

[code]

Edit: I think I've fixed it. The problem was with async components (() => import) and using mounted hook for API requests, because the mounted hook wi

[2022-01-17 22:28] keriat opened #123 "VueJS"

[2022-03-09 07:57] Tragio commented on #68
@maoberlehner thank you for your wonderful work. Nuxt 3 RC will be released this month. Do you have an ETA? 😄

[2022-03-17 19:05] gutisalex opened #127 "@click not working inside LazyHydrate"
Is there a reason why @click listener not working when they are sitting in a component wrapped with LazyHydrate? I have a Navigation which has Navigationitems fetched from an API. First time routing to the page everything works fine. After pagerefresh it doesnt... any idea?

[2022-04-24 17:26] Foddy commented on #68
The RC is out now. Any chances to see the proof of concept in near future? 🙃

[2022-05-03 15:14] universomarin commented on #119
@snaqu were you able to fix it?

[2022-05-05 08:04] renardsas commented on #68
[See this discussion](https://github.com/nuxt/framework/discussions/666)

[2022-05-19 08:51] b-karapet commented on #127
Hi @gutisalex, I faced with the same issue

The reason of issue was that I used `<LazyHydrate on-interaction>` which is the same as `<LazyHydrate on-interaction="focus">`
Focus is used by default

Try to use  `<LazyHydrate on-interaction="click">`

[2022-06-28 05:07] Abrar535 opened #136 "Is Active Hydration implemented?"
Hello , As mentioned in [this blog](https://markus.oberlehner.net/blog/partial-hydration-concepts-lazy-and-active) , is the active hydration implemented? My project fulfills the criteria of having this feature and need to know if it can be used with nuxt 2 and vuejs 2. Thanks

[2022-06-30 09:16] Funwentao opened #137 "scopeid of vue html changed"
i am using a component and i should import it's style files at the same time, but after i use hydrateNever(() => import('./myComponent.vue')), the scopeid of the html generated from myComponent changed, that causes my style files to fail.

[2022-07-11 08:09] renardsas commented on #68
Achieving lazy hydration in Vue 3 from scratch :
https://blog.logrocket.com/vue-3-lazy-hydration-from-scratch/

[2022-08-12 14:33] ubay1 opened #139 "Not working after build and deploy to heroku"
plugin works only when build on local.
when deploying to heroku plugin doesn't work, speed index looks very slow

local work
<img width="413" alt="Screen Shot 2022-08-12 at 21 44 34" src="https://user-images.githubusercontent.com/33889018/184380042-80c5e704-9615-4ef2-888f-53fa4434e3bf.png">

heroku not work
<img width="413" alt="Screen Shot 2022-08-12 at 21 45 37" src="https://user-images.githubus

[2022-09-06 07:59] dsvgl commented on #68
Someone made a lazy hydration library for Vue 3 🎉
https://github.com/freddy38510/vue3-lazy-hydration

Tested it with a nuxt 3 app -> works great!

[2022-09-23 13:44] jackcunningham opened #140 "Console errors in nuxt?"
In nuxt (version ^2.15.7), I'm installing with
`npm i nuxt-lazy-hydration`

Then with a super simple example like this...
[code]
I get the following error when running locally in dev
**[Vue warn]: Unknown custom element: <LazyHydrate> - did you register the component correctly? For recursive components, make sure to provide the "name" option.**

It works as hoped in live without the console errors

[2022-10-18 11:46] meepleek commented on #137
Have you figured out how to prevent/deal with this?

Nevermind, my issue is related to css extraction and the styles only loading when hydrating or rather importing the async component.

[2022-10-18 12:47] meepleek opened #141 "Missing extracted css for lazily imported/hydrated components"
My setup currently uses MiniCssExtractPlugin which doesn't emit during SSR
[code]

This works fine except for the components that are using the lazy hydration import wrappers which load their styles only once hydration is triggered, ie. once they are hydrated. I'm doing something wrong or is this to be expected and is there a way around this while still using the import wrappers?